@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
ul, ol { list-style: none; }
img { vertical-align: middle; }
.blind { position: absolute;
    text-indent: -9999999px;
    width: 0; height: 0; 
    overflow: hidden; }
body { font-family: 'Noto Sans KR'; }
.cf:after, .cf:before { content: ''; 
    clear: both;
    display: block; }
.row { max-width: 1600px; 
    margin: 0 auto; 
    padding: 0 100px; }



#wrap { position: relative; }



/* index.html */
/* header */
#header { background: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    padding: 10px 20px; 
    position: fixed; 
    width: 100%;
    z-index: 99999; }
.header_container { display: flex;
    justify-content: space-between; }

.logo, .header_left, .sns_nav, .search_box { align-self: center; }

.logo { width: 20%; }
.nav { width: 80%;
    display: flex; 
    justify-content: space-between; }
.header_left { width: 80%; }
.header_left .depth1 { display: flex; }
.header_left .depth1 > li { padding: 20px 25px; 
    font-size: 18px; 
    cursor: pointer; 
    position: relative; }

.header_left .depth2 { position: absolute;
    top: 100%; left: -35px;
    width: 170px; height: auto;
    background: #e5ded3;
    margin: 10px;
    display: none; }
.header_left .depth2 > li { font-size: 16px;
    text-align: center; 
    padding: 15px 5px; 
    transition: all 0.5s; }
.header_left .depth2 > li:hover { color: #fff;
    background: #6c665b; }







.header_right { width: 40%; 
    display: flex; }
.sns_nav ul { display: flex; }
.sns_nav ul li { background: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px 9px;
    width: 35px; height: 35px;
    margin: 0 8px; 
    font-size: 15px; }
.sns_nav ul li:nth-child(2) { padding: 5px 12px;}

.search_box input { border: none; 
    border-bottom: 1px solid #ddd;
    width: 180px;
    height: 30px; }
.search_box button { background: #fff;
    border: 1px solid #ddd;
    border-radius: 50px; 
    width: 35px; height: 35px;
    font-size: 15px; }




/* footer */
.quick_menu { position: fixed; 
    bottom: 0; left: 0;
    height: 30px; width: 100%;
    background: #6c665b;
    color: #fff; 
    z-index: 999; }
.quick_menu ul li { display: inline-block; 
    border-right: 1px solid #595348; 
    padding: 0 10px; 
    font-size: 13px;
    }
.quick_menu ul li:last-child { border-right: none; }

.footer_container { background: #e8e6e3; }
.footer_top { display: flex; 
    justify-content: space-between;
    padding: 30px 0; }
.foot_list1, .foot_list2 { display: flex; }
.foot_list1 li { padding-right: 50px; }
.foot_list2 li { padding-left: 50px; }

.footer_bottom { display: flex;
    justify-content: space-between; }
.f_left .info { display: flex; 
    font-size: 15px; 
    font-weight: bold;
    color: #6c665b;
    position: relative;  }
.f_left .info li { margin-right: 20px; }
.f_left .info li:after { position: absolute;
    top: 20%; 
    content: '';
    background: #666;
    width: 1px; height: 15px; 
    margin-left: 10px; }
.f_left .info li:last-child:after { display: none; }
.f_left .address { font-size: 15px;
    padding: 20px 0 30px; }

.f_right .sns { display: flex; }
.f_right .sns li { padding-left: 10px; }








/* article1 */

/* main_content*/
.article1 { position: relative; height: 90vh; }
.main_bg { height: 100%; 
    background: url(../images/main.jpg) no-repeat left bottom;
    background-size: cover; }
.main_text { position: absolute;
    left: 10%; top: 50%;
    transform: translateY(-50%);
    color: #fff; 
    font-family: 'Roboto'; }
.main_text h2 { font-size: 75px;
    letter-spacing: 2px;
    padding: 20px 0; }
.main_text p { font-size: 25px; 
    letter-spacing: 1.5; }
.main_text button { border: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #6c665b;
    border-radius: 50px;
    margin-top: 60px;
    padding: 15px 30px; 
    cursor: pointer;
    transition: all 0.5s; }
.main_text button:hover { background: transparent; 
    color: #fff; }




/* article2 */
.slideOuter { padding: 80px 0; 
    position: relative; 
    text-align: center; }
.slideOuter h2 { padding: 30px 0;
    font-size: 30px; }
.slideOuter h2:before { content: '';
    position: absolute;
    top: 95px; left: 48.5%;
    width: 50px; height: 3px;
    background: #6c665b; }


.slideOuter .slick-slide { opacity: 0.5;
    transform: scale(0.8); 
    transition: all 0.5s; }
.slideOuter .slick-slide.slick-active { opacity: 1; }
.slideOuter .slick-slide.slick-active.slick-current { transform: scale(1); }

.slideOuter .slick-dots { display:none; }

.slideOuter .marrow { background: transparent;
    border: none;
    font-size: 30px;
    color: #595348; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
.slideOuter .prevArrow { left: 80px;
    z-index: 99; }
.slideOuter .nextArrow { right: 80px; }
.slideInner { height: 100%; }
.slideInner a img { width: 100%;
    box-shadow: 2px 2px 2px #ddd; }




/* article3 */
.article3 { padding-bottom: 50px; }
.article3 .row { display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;}
.cal_container { width: 330px;
    padding-left: 30px; }
.cal_container .cal_top { display: flex; }
.cal_top h3 { padding: 7px;
    color: #6c665b;
    width: 80%; }
.cal_top span { font-size: 13px;
    line-height: 40px;
    text-align: right; 
    width: 20%; }
/* #calendar는 calendar.css 참고 */
.board { width: 70%; }
.noti_board { padding: 7px 0;
    height: 270px; }
.noti_board .tabTit { border-bottom: 1px solid #d9d9d9;
    padding: 2px 10px;
    display: flex; }
.noti_board .tabTit ul { display: flex; 
    width: 90%; }
.noti_board .tabTit li a { font-size: 18px;
    padding: 5px 15px; 
    font-weight: bold; }
.noti_board .tabTit li.on a { color: #6c665b; 
    border: 1px solid #d9d9d9;
    border-bottom: none; }
.noti_board .tabTit span { font-size: 13px;
    text-align: right; 
    padding: 5px 0; 
    width: 10%; }

.noti_board .tabCont { color: #666; 
    font-size: 16px;
    margin-top: 18px; 
    height: 175px; 
    overflow: hidden; }
.noti_board .tabCont col:nth-child(1) { width: auto; }
.noti_board .tabCont col:nth-child(2) { width: 5%; }
.noti_board .tabCont td { padding: 5px; }
.noti_board .tabCont td:nth-child(1) { white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; }
.noti_board .tabCont td:nth-child(1) a:before { content: 'ㆍ'; }
.noti_board .tabCont td:nth-child(2) { padding-right: 10px; }


.event_board .tabTit { border-bottom: 1px solid #d9d9d9;
    padding: 2px 10px;
    display: flex; }
.event_board .tabTit ul { width: 90%; }
.event_board .tabTit ul li a { font-size: 18px;
    padding: 5px 15px; 
    font-weight: bold; 
    color: #6c665b; 
    border: 1px solid #d9d9d9;
    border-bottom: none; }
.event_board .tabTit span { font-size: 13px;
    text-align: right; 
    padding: 5px 0; 
    width: 10%; }

.event_board .tabCont ul { display: flex; }
.event_board .tabCont li { padding:  20px 10px; }
.event_board .tabCont li img { width: 100%; }
.event_board .tabCont li p { font-size: 15px; 
    color: #666;
    text-align: center; 
    padding: 5px 0;}





/* article4 */
.article4 { display: flex; 
    position: relative; }

.img_container { width: 50%; }
.article4.on .img_container { animation: fadeInLeft 1s both 0.5s; }
.img_bg h3 { font-size: 45px;
    color: #fff; 
    position: absolute;
    top: 45%; left: 450px;
    transform: translateX(-50%); }
.img_bg:before { content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(0,0,0,0.5); }
.img_bg img { width: 100%;
    height: 530px; }


.direct { width: 50%; 
    z-index: 1; }
.article4.on .direct { animation: fadeInRight 1s both 0.5s; }
.direct_list { display: flex; 
    flex-wrap: wrap; 
    height: 530px; }
.direct_list li { width: 50%; 
    height: 265px;
    text-align: center; 
    padding: 65px; }

.direct_list li:nth-child(1),
.direct_list li:nth-child(4) { background: #e5ded3; }
.direct_list li:nth-child(2),
.direct_list li:nth-child(3) { background: #d3cbbf; }

.direct_list li i { font-size: 50px; 
    color: #6c665b; }
.direct_list li p { font-size: 20px; 
    color: #6c665b; 
    margin-top: 20px; 
    transition: all 0.5s; } 
.direct_list li:hover p { transform: scale(1.2); }




/* article5 */
.go_link { display: flex; 
    justify-content: center; }
.go_link li { margin: 30px 0;
    padding: 50px;
    text-align: center;
    width: 33.33%; }
.go_link li:nth-child(2) { border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; }
.article5.on .go_link li{ animation: fadeInUp 1s both 0s; }
.article5.on .go_link li:nth-child(2) { animation-delay: 0.2s; }
.article5.on .go_link li:nth-child(3) { animation-delay: 0.4s; }
.go_link li p { margin-top: 10px; 
    font-size: 20px; }
.go_link li:nth-child(2) { animation-delay: 0.2s; }





/* loading */
.loading { position: fixed;
    left: 0; right: 0; top: 0; bottom: 0; 
    background: rgba(225,225,225,0.8);
    z-index: 9999999; 
}
    
.load { position: absolute;
    top: 50%; left: 49%;
    display: inline-block;
    width: 50px; height: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
  to { transform: rotate(360deg); }
}



/* gotop */
.gotop { position: fixed;
    right: 20px; bottom: 50px;
    z-index: 999;
    display: none; }
.gotop.on { display: block; }
.gotop i { width: 50px;
    height: 50px;
    padding: 14px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background: #6c665b; 
    color: #fff;
    cursor: pointer; } 
    



/* popup 박스 */
#popupBox { position: absolute;
    top: 150px; 
    right: 150px; 
    max-width: 400px; 
    width: 100%; 
    background: #fff; 
    z-index: 999;}
#popupBox .close { position: absolute;
    top: 20px; right: 20px;
    font-size: 15px;
    border: none;
    background: transparent;
    z-index: 9999; }
#popupBox .popuptxt { padding: 80px 40px; 
    text-align: center;
    font-size: 16px; }
#popupBox .btnBox { position: absolute;
    bottom: 10px; left: 20px;
    color: #000;
    font-size: 13px; }